/* tablet */

@media (max-width: 950px) {
  article {
    padding: 10px 3%;
  }
}

/* mobile */
@media (max-width: 740px) {
  body {
    min-width: 385px;
  }

  article {
    padding: 10px 2%;
  }

  .hidden {
    visibility: hidden;
  }

  aside {
    position: absolute;
    z-index: 9;
    opacity: 1;
    min-width: 380px;
    width: 100%;
    border-radius: 5px;
    height: 95%;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .container {
    padding: 0 5%;
  }
  .content::-webkit-scrollbar {
    width: 4px;
  }
  .optionBtn {
    flex-direction: column;
  }
  .btnFinish,
  .btnDelete {
    width: 100%;
  }
  .btnDelete {
    border: none;
    background-color: #d3d3d3;
  }

  .btnFinish {
    border: none;
    background-color: #11999e;
    color: white;
  }

  .findBook {
    width: 100%;
  }

  .findBook input {
    width: 50%;
    height: 30px;
  }

  .findBook select {
    width: 25%;
    height: 30px;
  }

  .addBook {
    z-index: 11;
    visibility: visible;
    position: absolute;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    background-color: #11999e;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
    border: 2px white solid;
  }
  .addBook:hover {
    filter: brightness(90%);
  }
  .rotate {
    transform: rotate(44deg)
  }

}
