

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #555353 ;
  font-family: sans-serif;
  max-width: 1600px;
  margin: 0 auto;
}

header {
  background-color: rgb(207, 207, 252);
  position: relative;
  overflow: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.container {
  padding: 0 5%;
}

.navLogo img{
  height: 50px;
}

.navMenu a {
  display: inline-block;
  text-decoration: none;
  height: 50px;
  padding: 15px;
  transition: .3s;
}

.navMenu a:hover {
  background-color: #f0f8ff3d;
}